<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>497632993373-o96jubpi6b576cn38hq0mp5fmacvs8rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497632993373-o96jubpi6b576cn38hq0mp5fmacvs8rv</string>
	<key>API_KEY</key>
	<string>AIzaSyAWlwAmlCAvEikAdTyLqEqkOFtnVQ3iWy4</string>
	<key>GCM_SENDER_ID</key>
	<string>497632993373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tey.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-firsttest-89cab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firsttest-89cab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:497632993373:ios:49a721ebaa4b609f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-firsttest-89cab.firebaseio.com</string>
</dict>
</plist>